SUBSYSTEM=="usb", ENV{ID_MTP_DEVICE}=="1", ACTION=="add", RUN+="/usr/bin/systemctl start android-mtp@%E{ID_VENDOR}.service"
SUBSYSTEM=="usb", ACTION=="remove", RUN+="/usr/bin/systemctl stop android-mtp@%E{ID_VENDOR_FROM_DATABASE}.service"

